.tenon-result .certainty, .tenon-result .priority { padding: 2px; border-radius: 2px; text-shadow: 1px 1px #000; }

.tenon-result .meta { font-size: 14px; font-size: .7em; font-family: Arial, sans-serif; }

.tenon-result .high {
	font-weight: 700;
	color: white;
	background: red;
}

.tenon-result .medium {
	font-weight: 700;
	color: black;
	background: yellow;
	text-shadow: 1px 1px #fff;
}

.tenon-result .low {
	color: white;
	background: dark-green;
}

.tenon-result {
	padding: 1em;
	margin-bottom: 2em;
}

.tenon-result:nth-of-type(even), .tenon-report tr:nth-of-type(even) {
	background: rgb( 240,240,240 );
}

.tenon-report td {
	position: relative;
	overflow: visible;
}

.codepanel {
	left: -2em;
	position: absolute;
	background: #e6e6e6;
	padding: .5em;
	z-index: 10;
	width: 24em;
}

.codepanel code {
	background: #e6e6e6;
	color: #222;
}

button.close {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	float: right;
	color: darkred;
	margin: 0 0 2px 2px;
}

button.close:hover, button.close:focus {
	background: #fff;
}

#am_report_div pre {
	overflow: scroll;
	background: #f3f3f3;
}

#am_report_div code {
	background: transparent;
}

.tenon-result code, .tenon-result pre { margin: 0!important; padding: .5em!important; }