.am-settings pre { width: 100%; overflow: scroll; background: #fff; padding: 5px; }
.am-settings .postbox { margin: 0 10px 0 0}
.am-settings .postbox .inside { overflow: visible!important} /* some plugins change this, but I need it at WP default. */
.am-settings .meta-box-sortables { min-height: 0}
.am-settings table { margin-bottom: 2em; }
.am-settings caption { font-size: 1.1em; }
.am-settings label { display: block; }
.am-settings .checkbox { padding-bottom: 1em; }
.am-settings .checkbox label { display: inline; }
.am-settings legend { font-weight: 700; }
.inspect-a11y .dashicons { vertical-align: middle; }
.report-options { padding: 1em; border: 1px solid #ddd; }
#support_request { width: 100%; }

#tenon-signup img {
	max-width: 100%;
	height: auto;
}

#tenon-signup .heading {
	background: #2e6da4;
	color: #fff;
}

#tenon-signup {
	color: #f3f3f3;
	background: #337ab7;
}

#tenon-signup .subscribe p {
	font-size: 1.2em;
}

#tenon-signup .subscribe a {
	color: #fff;
	font-weight: 700;
	display: block;
	width: 100%;
	padding: .5em 0;
	font-size: 1.2em;
}

#tenon-signup .subscribe a:hover {
	text-decoration: none;
}

#tenon-signup .am-dismiss {
	float: right;
	padding: 8px;
	color: #e6e6e6;
	text-decoration: none;
}

#tenon-signup .am-dismiss:hover, #tenon-signup .am-dismiss:focus {
	outline: 1px solid #fff;
	color: #fff;
}

.am-alert {
	margin-top: .25em;
	padding: .5em;
	background: #fefefe;
	box-shadow: 2px 2px 3px #bbb;
	border-left: 4px solid #c00;
	display: block;
}

.am-support-me p {
    font-size: 1.6em;
    font-weight: 600;
    background: #007eb3;
    text-shadow: 1px 1px rgb( 35, 60, 127 );
    padding: 1em;
    text-align: center;
    margin: 0 0 1em;
}

.am-support-me p, .am-support-me a {
    color: #fff;
}

.am-support-me a:hover, .am-support-me a:focus {
    text-decoration: none;
}